@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-size: 14px;
    font-family: Roboto;
    font-weight: 500;
    color: black;
}

/* HEADER */ 

.row {
   width: 100%;
   max-width: 1200px;
   margin: 0 auto;
}

.header {
    display: flex;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    max-width: 100%;
    height: 40px;
    margin-top: 40px;
}

.Logo {
margin-top: 42px;
padding-left: 8px;
font-size: 22px;
font-weight: 900;
}

.Logo:hover {
    color: rgb(100, 21, 255);
    cursor: pointer;
    transition: .6s ease;
}

ul {
display: flex;
padding-left: 8px;
margin-top: 40px;

}

.nav-links {
    margin-left: 470px;
}

.nav-link {
    list-style: none;
    padding-left: 48px;
}

li:hover {
    color: rgb(100, 21, 255);
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: rgb(100, 21, 255);
    transition: .3s ease;
}

button {
padding: 12px 24px;
border-radius: 26px;
border-color: white;
border-style: none;
font-size: 14px;
font-weight: 700;
color: white;
background-color: rgb(100, 21, 255);
}

button:hover {
    background-color: rgb(74, 22, 169);
    cursor: pointer;
    transition: .6s ease;
}


.row-two {
    width: 100%;
    max-width: 1200px;
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.motto {
font-size: 48px;
font-weight: 900;
line-height: 1.3;
max-width: 500px;
margin-top: 80px;
}

.purple {
    color: rgb(100, 21, 255);
    font-size: 48px;
    font-weight: 700;
}

.sub-motto {
    font-size: 18px;
    font-weight: 300;
    margin-top: 48px;
    color: rgb(94, 88, 88);
    line-height: 1.5;

}

.react {
    max-width: 730px;
    height: 600px;
    margin-top: 48px;
    margin-left: 8px;
}

.sign-up {
    margin-top: 48px;
    display: flex;
}

.signup {
    width: 2400px;
    height: 63px;
    border-radius: 32px;
    font-size: 17px;
    border: 2px solid rgb(209, 212, 214);
    display: flex;
    opacity: 0.3;
}

input:focus {
    outline: none;
    border-color: rgb(100, 21, 255);
    border-width: 2px;
    opacity: 1;
}

.get-started {
    display: flex; 
    width: 550px;
    height: 52px;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;
    transform: translate(-130px, 5px);
    font-size: 15px;
    font-weight: 500;
}

.trusted-holder {
    margin-bottom: 48px;
    align-items: center;
    padding-left: 8px;
}

.trusted-customers {
    color: rgb(175, 176, 177); 
    padding-bottom: 18px;  
}

.trusted-partners-img {
    height: 32px;
    color: rgb(175, 176, 177);
    width: 100%;
    max-width: 400px;
    opacity: 0.5;
}