@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-size: 14px;
    font-family: Poppins;
    font-weight: 500;
    color: black;
}

/* 

HEADER 

*/ 

.row {
   width: 100%;
   max-width: 1300px;
   margin: 0 auto;
}

.header {
    display: flex;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    max-width: 100%;
    height: 40px;
    margin-top: 40px;
}

.Logo {
margin-top: 40px;
padding-left: 8px;
font-size: 22px;
font-weight: 900;
}

.Logo:hover {
    color: rgb(100, 21, 255);
    cursor: pointer;
    transition: .6s ease;
}

ul {
display: flex;
padding-left: 8px;
margin-top: 40px;

}

.nav-links {
    margin-left: 470px;
}

.nav-link {
    list-style: none;
    padding-left: 48px;
}

li:hover {
    color: rgb(100, 21, 255);
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: rgb(100, 21, 255);
    transition: .3s ease;
}

button {
padding: 12px 24px;
border-radius: 26px;
border-color: white;
border-style: none;
font-size: 14px;
font-weight: 500;
color: white;
background-color: rgb(100, 21, 255);
}

button:hover {
    background-color: rgb(74, 22, 169);
    cursor: pointer;
    transition: .6s ease;
}


/*

LANDING PAGE 

*/

.row-two {
    width: 100%;
    max-width: 1300px;
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.motto {
font-size: 48px;
font-weight: 900;
line-height: 1.3;
max-width: 500px;
margin-top: 80px;
}

.purple {
    color: rgb(100, 21, 255);
    font-size: 48px;
    font-weight: 700;
}

.sub-motto {
    font-size: 18px;
    font-weight: 300;
    margin-top: 48px;
    color: rgb(94, 88, 88);
    line-height: 1.5;

}

.react {
    max-width: 730px;
    height: 600px;
    margin-top: 48px;
    margin-left: 8px;
}

.sign-up {
    margin-top: 48px;
    display: flex;
}

.signup {
    width: 2400px;
    height: 63px;
    border-radius: 32px;
    font-size: 17px;
    border: 2px solid rgb(209, 212, 214);
    display: flex;
    opacity: 0.3;
}

input:focus {
    outline: none;
    border-color: rgb(100, 21, 255);
    border-width: 2px;
    opacity: 1;
}

.get-started {
    display: flex; 
    width: 550px;
    height: 52px;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;
    transform: translate(-130px, 5px);
    font-size: 15px;
    font-weight: 500;
}

.trusted-holder {
    margin-bottom: 48px;
    align-items: center;
    padding-left: 8px;
}

.trusted-customers {
    color: rgb(175, 176, 177); 
    padding-bottom: 18px;  
    font-weight: 600;
}

.trusted-partners-img {
    height: 32px;
    color: rgb(175, 176, 177);
    width: 100%;
    max-width: 400px;
    opacity: 0.5;
}


/* 

FEATURES 

*/ 

.features {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

.features-head {
    margin-bottom: 24px;
}

.purple-features {
    color: rgb(100, 21, 255);
    font-weight: 700;
    font-size: 16px;
}

.amazing-service {
    font-size: 48px;
    font-weight: 700;
    padding-bottom: 18px;
}

.purple-service {
    font-size: 48px;
    font-weight: 700;
    color: rgb(100, 21, 255);
}

.lorem-20 {
   line-height: 1.8;
   color: rgb(154, 157, 159);
   line-height: 1.9;
}

.wrap-holder {
    margin-top: 32px;
}


/* 

SERVICES 

*/

.services-holder {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    margin-top: 48px;
    margin-bottom: 32px;
}

.services {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 32px;
}

.service {
    display: flex;
    width: calc(100% / 3);
    padding: 38px;
}

.service-img-wrapper {
    padding-right: 18px;
}

.service-img {
    border: 1px solid rgb(175, 176, 177);
    border-radius: 50%;
    padding: 18px;
    opacity: 0.5;
}

.service-description {
    display: flex;
    flex-direction: column;
    font-size: 22px;
    font-weight: 700;
}

.service-description-para {
    padding-top: 24px;
    color: rgb(154, 157, 159);
    font-weight: 500;
    line-height: 1.9;
}

/* 

ROW THREE 

*/

.row-three {
    display: flex;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    margin-top: 130px;
    margin-bottom: 100px;
}

.quality {
    max-width: 600px;
    height: 555px;
    margin-right: 20px;
}

.quality-img {
    width: 630px;
    height: 430px;
    padding: 8px;
    margin-left: 30px;
    border: 1px solid rgb(193, 194, 196);
}

.quality-head {
    color: rgb(100, 21, 255);
    font-weight: 700;
    padding-bottom: 18px;
}

.quality-subhead {
    font-size: 48px;
    font-weight: 700;
    padding-bottom: 28px;
}

.professionals {
    color: rgb(100, 21, 255);
    font-size: 48px;
    font-weight: 700;
}

.quality-para-wrapper {
    line-height: 2;
}

.quality-para {
    font-size: 16px;
}

.quality-button-wrapper {
    padding-top: 32px;
}

/*

STEPS

*/

.steps-row {
    display: flex;
    width: 100%;
    max-width: 1300px;
    margin-bottom: 100px;
}

.steps-img-wrapper {
margin-right: 50px;
}

.steps-img {
    height: 450px;
    width: 750px;
    padding: 48px;
}

.steps-head {
    font-weight: 700;
    color: rgb(100, 21, 255);
    max-width: 500px;
}

.steps-steps {
    max-width: 410px;
}

.steps-subhead {
    padding-top: 18px;
    font-size: 48px;
    font-weight: 700;
    padding-bottom: 32px;
}

.steps-span {
    color: rgb(100, 21, 255);
    font-size: 48px;
    font-weight: 700;
}

.step-1 {
    padding-bottom: 32px;
    font-size: 18px;
    color: rgb(154, 157, 159)
}

.step-para {
    padding-top: 12px;
    font-size: 16px;
    color: rgb(154, 157, 159)
}